.title-detail {
    text-align: center;
    margin: 32px 0 24px 0;
}

.title-detail h1 {
    line-height: 8px;
    font-weight: 600;
    font-family: 'Lato', Helvetica, sans-serif;
}

.title-detail hr {
    width: 100px;
    border: 2px solid #ccc;
}

.explore-resto {
    display: flex;
    justify-content: center;
}

/* Center CSS Grid */
/* https://coryrylan.com/blog/how-to-center-in-css-with-css-grid */
.list-resto {
    margin: 0 0 1em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 18px;
    row-gap: 14px;
    justify-content: center;
    align-content: center;
    grid-auto-flow: unset;
}

@media screen and (max-width: 1100px) {
    .list-resto {
        margin: 0 0 1em 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 18px;
        row-gap: 14px;
        justify-content: center;
        align-content: center;
        grid-auto-flow: unset;
    }
}

@media screen and (max-width: 900px) {
    .list-resto {
        margin: 0 15px 1em 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 18px;
        row-gap: 14px;
        justify-content: center;
        align-content: center;
        grid-auto-flow: unset;
    }
}

@media screen and (max-width: 620px) {
    .list-resto {
        margin: 0 15px 1em 15px;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 18px;
        row-gap: 18px;
        justify-content: center;
        align-content: center;
        grid-auto-flow: unset;
    }

    .title-detail h1 {
        line-height: 32px;
        font-weight: 600;
        font-family: 'Lato', Helvetica, sans-serif;
    }
}

.card-detail {
    display: flex;
    flex-flow: column;
    margin: 0 15px 2em 15px;
    border-radius: 14px;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-detail .icon-header {
    margin: 0 6px 0 0;
    color: #f94144;
}

.card-detail .description {
    padding: 1em 1em 0 1em;
}

.card-detail h1 {
    color: #616161;
    font-size: 14pt;
}

.description .genre {
    font-style: italic;
    font-weight: 600;
    color: #212121;
}

.description p {
    color: #212121;
    font-size: 14pt;
}

.card-detail .menu-makanan {
    padding: 0 1em 0 1em;
}

.card-detail .menu-minuman {
    padding: 0 1em 0 1em;
}

.menu-makanan p {
    color: #212121;
    font-size: 14pt;
}

.menu-makanan .list-menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.menu-minuman p {
    color: #212121;
    font-size: 14pt;
}

.card-detail .review-resto {
    padding: 0 1em 1.5em 1em;
}

.box-rating {
    color: white;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
    font-weight: 700;
    margin: 8px 0 0 0;
    background-color: #00b06f;
}

.comment-container {
    width: 100%;
}

.rating-detail {
    display: flex;
    flex-flow: row;
}

.rating-comment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    margin: 0 0 0 18px;
    color: #212121;
}

@media screen and (max-width: 1100px) {
    .rating-comment {
        grid-template-columns: 1fr 1fr;
    }

    .box-rating {
        width: 64px;
    }

    .input-comment {
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width: 764px) {
    .rating-comment {
        grid-template-columns: 1fr;
    }

    .input-comment {
        margin: 10px 0 0 0;
    }

    .box-rating {
        width: 100px;
        font-size: 14pt;
    }
}

.rating-item .name-pengunjung {
    line-height: 0;
    font-weight: 700;
    font-size: 14pt;
}

.rating-item .komentar-pengunjung {
    font-weight: normal;
    font-size: 13pt;
}

.rating-item .tanggal-komentar {
    line-height: 0;
    font-weight: 400;
    font-size: 12pt;
    font-style: italic;
}

@media screen and (max-width: 1100px) {
    .card {
        display: grid;
        max-width: 280px;
    }
}

@media screen and (max-width: 620px) {
    .card {
        display: grid;
        max-width: 400px;
        grid-template-rows: 220px 210px 70px;
    }
}

.image-covers {
    grid-area: 'image-covers';
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.image-covers img {
    height: 210px;
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@media screen and (max-width: 620px) {
    .image-covers img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
}

.desc-card {
    grid-area: 'desc-card';
    margin: 25px;
}

.desc-card .city-name {
    color: #f94144;
    font-size: 16px;
    font-weight: 500;
}

/* https://stackoverflow.com/questions/26973570/setting-a-max-character-length-in-css/26975271 */
.desc-card p {
    color: #868686;
    font-size: 11pt;
    font-weight: 300;
    margin-top: 2px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.desc-card h2 {
    margin: 0;
    font-size: 16pt;
    color: #293241;
}

.desc-card h2 a {
    text-decoration: none;
    color: #293241;
}

.send-comment {
    margin: 20px 20px 8px 20px;
}

.send-comment h1 {
    margin: 32px 0 10px 0;
}

.input-name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 12pt;
    display: inline-block;
    border: 1px solid #9e9e9e;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #424242;
}

.input-name:focus {
    border: 2px solid #f15946;
}

.input-comment {
    resize: none;
    overflow: auto;
    outline: none;
    width: 100%;
    margin-right: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 12pt;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    color: #424242;
}

.input-comment:focus {
    border: 2px solid #f15946;
}

.button-action {
    margin: 0 0 1em 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-comment {
    background: #00b06f;
    color: #fff;
    padding: 13px 44px 13px 44px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13pt;
    margin-top: 10px;
    display: inline-block;
    border: none;
}

.button-comment:hover {
    background: #0dc582;
}

@media screen and (max-width: 620px) {
    .desc-card h2 {
        margin: 20px 0 0 8px;
        font-size: 15pt;
    }
}
